<%= form_for(watched_movie) do |f| %>
  <% if watched_movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watched_movie.errors.count, "error") %> prohibited this watched_movie from being saved:</h2>

      <ul>
      <% watched_movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
