<p id="notice"><%= notice %></p>

<h1>視聴済み映画</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watched_movies.each do |watched_movie| %>
      <tr>
          <td><%= link_to watched_movie.movie.title_ja, movie_path(watched_movie.movie) %></td>
          <td><%= watched_movie.movie.director.name_ja %></td>
          <td><%= watched_movie.watched_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
