<div class="social-block-wrapper">
    <%= render 'social_connect', provider: :google, display_name: 'Google+', icon: 'icon-google-plus-sign' %>
    <%= render 'social_connect', provider: :twitter, display_name: 'twitter', icon: 'icon-google-plus-sign' %>
</div>
