<div class="actor-thumbnails" style="width:320px; float:left; padding-left:15px;">
<img src="" class="img-fluid" width="300px" height="400px" />
</div>

<div class="actor-info" style="float:left; padding-left:10px;">
  <table class="table">
    <tr>
      <th>名前</th>
      <td><%= actor.name_ja %></td>
    </tr>
    <tr>
      <th>名前</th>
      <td><%= actor.name %></td>
    </tr>
    <tr>
      <th>作品</th>
      <td>
        <% actor.movies.each do |movie| %>
          <%= link_to movie.title_ja, movie %> <br />
        <% end %>
      </td>
    </tr>
  </table>
</div>
</div>

