<%= month_calendar start_date: @start_date, events: @programs do |date, programs| %>
    <%= date.mday %>

    <% programs.each do |program| %>
        <div>
            <%= link_to program.title_ja, movie_path(program) %>
        </div>
    <% end %>
<% end %>
