.director-thumbnails[style="width:320px; float:left; padding-left:15px;"]
  img.img-fluid[src="" width="300px" height="400px"]
.director-info[style="float:left; padding-left:10px;"]
  table.table
    tr
      th 名前
      td = director.name_ja
    tr
      th 名前
      td = director.name
    tr
      th 作品
      td
        - director.movies.each do |movie|
          = link_to movie.title_ja, movie
          br
