nav.navbar.navbar-default[role="navigation"]
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed[type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-6"]
        span.sr-only
          | Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to "AfrLoad", root_path, class: "navbar-brand"
    #bs-example-navbar-collapse-6.collapse.navbar-collapse
      - active = controller.controller_name
      ul.nav.navbar-nav
        li class="#{'.active' if active == "movies"}"
          = link_to "Movies", movies_path
        li class="#{'.active' if active == "watched_tv_programs"}"
          = link_to "WatchedTvPrograms", watched_tv_programs_path
        li class="#{'.active' if active == "watched_movies"}"
          = link_to "WatchedMovies", watched_movies_path
      ul.nav.navbar-nav.navbar-right
        li.nav-item
          = link_to @current_user.nickname if @current_user
        li
          = link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do
            i.glyphicon.glyphicon-list
          ul.dropdown-menu
            - if @current_user
              li = link_to "Settings", edit_user_path(@current_user)
              li = link_to "Logout", logout_path
            - else
              li = link_to "Login or Sign in", login_path
